[data-theme="dark"] {
  background-color: #2C2F33 !important;
  color: #ffffff;
}


[data-theme="dark"] h1 {
  color:#90a0db !important;
}

[data-theme="dark"] h2 {
  color:#7289DA !important;
}


[data-theme="dark"] tr {
  color: #fffde0 !important;
}

[data-theme="dark"] .navy-bg {
  background-color: #1d2125 !important;
}

[data-theme="dark"] .input-bg {
  background-color: #3e4349 !important;
  color: #a8b6d1 !important;
}